* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: white;
}

html body {
  background: linear-gradient(to right, #084e9e, #5796df);
  font-family: sans-serif;
  min-height: 100vh;
}

.container,
.row {
  min-height: 100vh;
}

h2 {
  text-align: center;
}

.img-lock,
.img-papel {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.inputs-login,
.inputs-registro {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
}

.inputs-login input,
.inputs-registro input,
.inputs-registroV input {
  margin-top: 15px;
  width: 100%;
  border: none;
  border-radius: 4px;
  outline: none;
  text-indent: 8px;
  height: 42px;
  background-color: #505e6c;
  color: white;
}

.opciones input {
  height: 15px;
  width: 10%;
}

.boton-login,
.boton-registro,
.boton-envio,
.boton-acceso {
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 15px;
  text-shadow: none;
  outline: none !important;
  background-color: #0a58ca;
  color: white;
  border-color: #0a53be;
  width: 100%;
}

.boton-registro {
  background-color: rgb(146, 50, 50);
  margin-top: 23px;
}

.botones {
  margin-top: 10px;
}

.boton-login:hover {
  background-color: #0e479c;
}
.boton-registro:hover {
  background-color: rgb(128, 41, 41);
}

.login-box,
.register-box,
.registro-vehiculo-box {
  max-width: 370px;
  height: 560px;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 5px;
  color: #084e9e;
  background-color: rgb(3, 40, 51);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.register-box {
  height: 1100px;
  max-width: 500px;
}

.registro-vehiculo-box {
  height: 780px;
  max-width: 452px;
}

.inputs-registroV textarea {
  background-color: #505e6c;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none !important;
  resize: none;
  margin-top: 15px;
  text-indent: 10px;
  padding-top: 5px;
}

.foto {
  border-radius: 5px;
  width: 100px;
  background-color: rgb(128, 41, 41);
  outline: none;
  border: none;
  margin-top: 15px;
  color: white;
  height: 40px;
}

